@page
@model AdminUserCRUDModel
@{
}

<script src="~/js/pages/admin/adminusercrud.js"></script>

<h1>Users List</h1>

<table id="tblUsers">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Tipo de identificacion</th>
            <th>Numero de Identificacion</th>
            <th>Correo Electronico</th>
            <th>Telefono</th>
            <th>Rol</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>