@page
@model WebApp.Pages.LandingPageModel
@{
}

<link href="~/css/LandingPage.css" rel="stylesheet" />
<div class="banner">
    <img src="~/imgs/BannerEventWizz.png"/>
</div>

<div class="info-empresa">
    <h1>CodeWizz</h1>
    <p>"Domina el código como un verdadero mago." <br></p>
    <p>CodeWizz, fundado por un apasionado trío universitario, ha emergido rápidamente como un referente en el mundo del desarrollo tecnológico.
    Uniendo destrezas individuales que abarcan desde la programación avanzada hasta el diseño intuitivo,
    este equipo se ha especializado en crear soluciones digitales de vanguardia.
    La esencia de CodeWizz radica en su capacidad para combinar la innovación y la creatividad, proporcionando herramientas y aplicaciones que no solo cumplen, 
    sino que exceden las expectativas de sus usuarios. Con un enfoque firme en la colaboración y la mejora continua,
    CodeWizz promete dejar una marca indeleble en el paisaje tecnológico
    </p>
</div>

<div class="empleados">
    <div class="empleado">
        <img src="~/imgs/FotoRoger.jpg"/>
        <h2>Roger Hidalgo Porras</h2>
        <p>Product Owner</p>
        <p>
            rhidalgop@ucenfotec.ac.cr <br>
            8726-9583 <br>
            San José <br>
        </p>
    </div>

    <div class="empleado">
        <img src="~/imgs/FotoSebastian.jpg"/>
        <h2>Sebastián López Ocampo</h2>
        <p>Analista y Analista de calidad</p>
        <p>
            slopezo1@ucenfotec.ac.cr <br>
            8964-8382 <br>
            San José, Guadalupe <br>
        </p>
    </div>

    <div class="empleado">
        <img src="~/imgs/FotoRolo.jpg"/>
        <h2>Rolando Quirós Artavia</h2> 
        <p>Scrum Master</p>
        <p>
            rquirosar@ucenfotec.ac.cr <br>
            7011-2347 <br>
            San José, Santa Ana <br>
        </p>
    </div>
</div>